<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<div class="col-md-4 col-md-offset-4">
  <form method="POST" enctype="multipart/form-data" action="/">
    <div class="form-group">
      <label for="file">File input</label>
      <input type="file" id="file" name="file">

    </div>
    <button type="submit" value="Upload" class="btn btn-default">Submit</button>
  </form>
</div>

<div>
  <ul>
    <li th:each="file : ${files}">
      <a th:href="${file}" th:text="${file}" />
    </li>
  </ul>
</div>
</body>
</html>
